.card-action a {
  color: blue !important;
  word-break: break-all;
}

.btn-block {
  width: 80%;
}

.lead {
  font-size: 1.2rem;
  font-weight: 400;
}

.card-header {
  margin-bottom: 3rem;
}

/* Layout */

.spinner {
  width: 200px;
  margin: auto;
  display: block;
}

nav {
  margin-bottom: 2rem;
}

.company-info {
  margin-top: 0.4rem !important;
  font-size: 1.2rem !important;
  font-weight: 500;
}

#about {
  font-size: 1.4rem;
  font-weight: 400;
}

.page-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-wrap {
  margin-bottom: 2rem;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  padding: 0.75rem;
}
